/* ===============================
   PREMIUM ABOUT SECTION
================================ */

.about-premium-section {
    width: 90%;
    padding: 30px 0px;
    max-width: 1300px;
    margin: auto;
}

.about-premium-container {

    display: flex;
    align-items: center;
    gap: 80px;
}

/* ===== LEFT CONTENT ===== */

.about-premium-content {
    flex: 1;
}

.about-premium-subtitle {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(135deg, #ffc107, #ff9800);
    color: white;
    padding: 0px 10px;
}

.about-premium-title {
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0;
    color: #1e3a5f;
    line-height: 1.2;
}

.about-premium-cert {
    color: #facc15;
    font-weight: 600;
    margin-bottom: 25px;
}

.about-premium-text {
    font-size: 15px;
    line-height: 1.8;
    color: #64748b;
    margin-bottom: 20px;
}

/* ===== BUTTON ===== */

.about-premium-btn {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all 0.4s ease;
    background: #1e3a5f;
}

.about-premium-btn span {
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 10px;
    border-radius: 50%;
}

.about-premium-btn:hover {
    transform: translateY(-5px);
    color: #facc15;
}

/* ===== RIGHT IMAGES ===== */

.about-premium-images {
    flex: 1;
    position: relative;
}

.about-premium-main-img img {
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.12);
}

.about-premium-small-img {
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 260px;
}

.about-premium-small-img img {
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

/* ===== RESPONSIVE ===== */

@media (max-width: 1100px) {
    .about-premium-container {
        flex-direction: column;
        text-align: center;
    }

    .about-premium-images {
        margin-top: 0px;
    }

    .about-premium-small-img {
        position: relative;
        left: 0;
        bottom: 0;
        margin: 0px auto 0;
    }
}

@media (max-width: 900px) {

    
.about-premium-subtitle {
    font-size: 12px;
}
    .about-premium-title {
        font-size: 32px;
    }

    .about-premium-section {
       padding: 50px 0px 0px;
    }
}

@media (max-width: 480px) {
    .about-premium-title {
        font-size: 26px;
    }

    .about-premium-small-img {
        width: 250px;
        top: -100px;
         margin: 0px auto 0;
    }
}