.contact-hero {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-hero-overlay {
  background: rgba(0,0,0,0.55);
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-hero h1 {
  font-size: 42px;
  font-weight: 700;
}

.contact-page {
  padding: 100px 8%;
  background: #f8fafc;
}

.contact-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.contact-form {
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.05);
  position: relative;
  z-index: 1;
}
.react-select__menu {
  z-index: 9999 !important;
}
.contact-tag {
  color: #3b79b6;
  font-size: 14px;
}

.contact-form h2 {
  margin: 15px 0 40px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
  font-size: 14px;
}

.react-tel-input {
  width: 100% !important;
}
input,
textarea,
.react-select__control {
  height: 55px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  padding: 0 15px;
  font-size: 14px;
}
.react-tel-input .selected-flag {

    height: 50px;

}
.contact-form textarea {
  height: 140px;
  padding-top: 15px;
}
.react-tel-input .flag-dropdown {
    height: 55px;
}
.countphone .css-t3ipsp-control{
       height: 55px;
    width: 200px; 
        border-radius: 12px;
}
.css-13cymwt-control{

    border-radius: 12px !important;

}
.css-hlgwow {
    height: 55px;
}
.countphone .css-13cymwt-control{
    height: 55px;
    width: 200px;
}
.react-tel-input .form-control {
  width: 100% !important;
  height: 55px !important;
  border-radius: 12px !important;
  border: 1px solid #e2e8f0 !important;
  font-size: 14px !important;
  padding-left: 50px !important;
}
.contact-form .row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.contact-form button {
  background: #2f6fa3;
  color: white;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.05);
}

@media (max-width: 992px) {
  .contact-layout {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: column;
  }
}
