/* HERO */
.director-hero {
  /* background: linear-gradient(135deg, #0f3b1e, #14532d); */
  background: url("../assets/page-header-bg.jpg") center/cover no-repeat;
  /* padding: 60px 0; */
  text-align: center;
  color: #fff;
  position: relative;
}

.director-hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-top: 15px;
}

.breadcrumb {
  background: rgba(255, 255, 255, 0.15);
  padding: 6px 18px;
  border-radius: 30px;
  font-size: 13px;
}

/* MAIN SECTION */
.director-section {
  width: 90%;
  padding: 50px 0px;
  max-width: 1300px;
  margin: auto;
}

.director-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

/* LEFT CARD */
.director-card {
  background: #fff;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
  line-height: 1.7;
  border-left: 5px solid #3368a0;
}

.director-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.director-card h4 {
  margin-top: 30px;
  font-size: 18px;
}

.director-card p {
  margin-top: 10px;
  color: #555;
}

/* FORM CARD */
.director-form-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 35px;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  height: fit-content;
}

.director-form-card h3 {
  margin-bottom: 25px;
  font-size: 18px;
  color: #3368a0;
}

.director-form-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.director-form-card input,
.director-form-card textarea {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.director-form-card input:focus,
.director-form-card textarea:focus {
  border-color: #14532d;
}





/* RESPONSIVE */
@media (max-width: 992px) {
  .director-grid {
    grid-template-columns: 1fr;
  }

  .director-form-card {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .director-hero-content h1 {
    font-size: 28px;
  }

  .director-card {
    padding: 25px;
  }

  .director-form-card {
    padding: 25px;
  }
}