/* HERO */

.pl-hero {
  height: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pl-hero-overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.pl-hero h1 {
  font-size: 42px;
  font-weight: 700;
}

/* SECTION */

.pl-section {
  padding: 50px 0%;
  background: #f8fafc;
}

.pl-container {
  display: grid;
  grid-template-columns: 1.1fr 1.4fr;
  gap: 30px;
  align-items: start;
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* LEFT IMAGES */

.pl-images {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pl-card {
  background: white;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
  transition: 0.4s ease;
}

.pl-card:hover {
  transform: translateY(-8px);
}

.pl-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #1e293b;
}

.pl-card img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

/* CONTENT */

.pl-content {
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
}

.pl-tag {
  font-size: 14px;
  color: #3b79b6;
  font-weight: 500;
}

.pl-content h2 {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 700;
  line-height: 1.4;
}

.pl-content p {
  margin-bottom: 20px;
  color: #555;
  line-height: 1.7;
  font-size: 15px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .pl-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pl-content {
    padding: 30px;
  }

  .pl-hero h1 {
    font-size: 30px;
  }
}