.process-premium-section {
  position: relative;
  padding: 50px 5%;
  background: #f9fafc;
}


/* Vertical Timeline Line */
.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  background: #1e3a5f;
  transform: translateX(-50%);
}

/* ITEM */
.process-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.process-item.left {
  justify-content: flex-start;
}

.process-item.right {
  justify-content: flex-end;
}

/* STEP NUMBER */
.process-step {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #1e3a5f;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  z-index: 2;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* CARD */
.process-card {
  width: 45%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.05);
  transition: 0.4s ease;
}

.process-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 30px 60px rgba(0,0,0,0.08);
}

/* IMAGE */
.process-image img {
      width: 100%;
    height: auto;
  object-fit: cover;
  border-radius: 15px;
}

/* CONTENT */
.process-content h3 {
  font-size: 20px;
  margin-bottom: 10px;

}

.process-content p {
  color: #555;
  white-space: pre-line;
}

/* RESPONSIVE */
@media (max-width: 992px) {

  .timeline-line {
    left: 20px;
  }

  .process-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .process-step {
    left: 20px;
    transform: none;
    top: 0;
  }

  .process-card {
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
  }

  .process-image img {
       width: 100%;
    height: auto;
  }
}
