.tech-slider-section {
  padding: 30px 5%;
  background: #f8f9fa;
}
.tech-slider-section .container{
    max-width: 1300px;
    margin: auto;
}
/* Header */
.tech-header {
  text-align: center;
  margin-bottom:40px;
}

.tech-header h2 {
  font-size: 38px;
  font-weight: 700;
  color: #111;
}

/* Card */
.tech-card {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease;
}

.tech-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.6s ease;
  border-radius: 16px;
}

.tech-card:hover img {
  transform: scale(1.08);
}

.tech-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  color: #111;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #caa25d;
}
